<button mat-icon-button [matMenuTriggerFor]="flagsMenu" #flagsMenuTrigger="matMenuTrigger">
    <mat-icon>language</mat-icon>
</button>
<mat-menu #flagsMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu flags">
    <span (mouseleave)="flagsMenuTrigger.closeMenu()">      
        <button mat-menu-item>English</button>
        <button mat-menu-item>German</button>
        <button mat-menu-item>French</button>
        <button mat-menu-item>Spanish</button>
    </span>
</mat-menu>
