@use 'sass:map';
@use '@angular/material' as mat;
@use './styles/variables' as vars;

@mixin theme-reset($theme) {
    $color-config: mat.m2-get-color-config($theme);
    $primary: map.get($color-config, 'primary');
    $accent: map.get($color-config, 'accent');
    $warn: map.get($color-config, 'warn');
    $foreground: map.get($color-config, 'foreground');
    $background: map.get($color-config, 'background');

    .bg-primary {
        background: mat.m2-get-color-from-palette($primary);
        color: mat.m2-get-color-from-palette($primary, default-contrast);
    }

    .bg-accent {
        background: mat.m2-get-color-from-palette($accent);
        color: mat.m2-get-color-from-palette($accent, default-contrast);
    }

    .bg-warn {
        background: mat.m2-get-color-from-palette($warn);
        color: mat.m2-get-color-from-palette($warn, default-contrast);
    }

    .muted-text {
        color: mat.m2-get-color-from-palette($foreground, secondary-text);
    }

    .default-contrast {
        color: mat.m2-get-color-from-palette($primary, default-contrast) !important;
    }

    .gradient-primary {
        background: mat.m2-get-color-from-palette($primary, lighter);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, mat.m2-get-color-from-palette($primary, lighter) 50%, mat.m2-get-color-from-palette($primary) 100%);
    }

    .mat-toolbar {
        padding: 0 vars.$flex-distance;
        min-height: vars.$toolbar-height;

        .mdc-icon-button {
            color: mat.m2-get-color-from-palette($primary, default-contrast);
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        height: vars.$toolbar-height;
    }

    .mat-mdc-raised-button.small-logo {
        color: mat.m2-get-color-from-palette($primary);
    }

    .mat-mdc-icon-button {
        color: mat.m2-get-color-from-palette($foreground, base);
    }

    .horizontal-menu {
        background: mat.m2-get-color-from-palette($primary, darker) !important;
    }

    .horizontal-menu-item {
        .horizontal-sub-menu {
            background: mat.m2-get-color-from-palette($primary, darker);
        }
    }

    .breadcrumb {
        a {
            color: mat.m2-get-color-from-palette($primary);
        }

        .breadcrumb-item+.breadcrumb-item:before {
            color: mat.m2-get-color-from-palette($foreground, text);
        }
    }

    .user-block {
        border-bottom: 1px solid mat.m2-get-color-from-palette($foreground, divider);
    }

    .active-link {
        border-radius: 0;
        background-color: mat.m2-get-color-from-palette($primary);
        color: #fff;
    }

    .warn-color {
        color: mat.m2-get-color-from-palette($warn) !important;
    }

    .primary-color {
        color: mat.m2-get-color-from-palette($primary) !important;
    }

    /* ngx-pagination */
    .dreso-pagination .ngx-pagination {
        margin-bottom: 0;
        padding: 4px;

        .current {
            background: mat.m2-get-color-from-palette($primary);
            color: mat.m2-get-color-from-palette($primary, default-contrast);
        }

        a:hover,
        button:hover {
            background: rgba(mat.m2-get-color-from-palette($primary), 0.2);
            color: mat.m2-get-color-from-palette($foreground, base);
        }
    }

    /* ngx-quill */
    .ql-snow .ql-picker,
    .ql-editor.ql-blank::before {
        color: mat.m2-get-color-from-palette($foreground, text);
    }

    .ql-snow .ql-stroke {
        stroke: mat.m2-get-color-from-palette($foreground, text);
    }

    .ql-snow .ql-fill {
        fill: mat.m2-get-color-from-palette($foreground, text);
    }

    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
        background: mat.m2-get-color-from-palette($background, app-bar);
    }

    /* ngx-charts */
    .ngx-charts {
        text {
            fill: mat.m2-get-color-from-palette($foreground, text);
        }
    }

    .messages {
        .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label {
            color: rgba(mat.m2-get-color-from-palette($background, card), 0.6);
        }

        .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
            color: mat.m2-get-color-from-palette($background, card);
        }
    }
}

@include mat.sidenav-overrides((container-shape: 0));
@include mat.button-overrides((protected-container-shape: 4px));
@include mat.card-overrides((elevated-container-shape: 4px, filled-container-shape: 4px, outlined-container-shape: 4px));
@include mat.button-toggle-overrides((legacy-height: 36px));
@include mat.dialog-overrides((container-shape: 4px));
