@use '@angular/material' as mat;
@use './styles/variables' as vars;

$custom-typography: mat.m2-define-typography-config(
    $body-1: mat.m2-define-typography-level(14px, 20px, 400, vars.$font-family),
    $button: mat.m2-define-typography-level(14px, 22px, 600, vars.$font-family, $letter-spacing: 0.02em),
);

@include mat.all-component-typographies($custom-typography);
@include mat.elevation-classes();
@include mat.app-background();

.app {
    --mat-fab-small-container-shape: 50%;
}
